

/* .card1{
    background-color: coral;
    border-radius: 15px;
    border: solid 2px ;
    width: 300px;
    padding: 10px;
}
.card2{
    background-color: aqua;
    border: solid 3px black;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
} */

